.custom-swiper {
  width: 100%;
  height: auto; 
}

.custom-swiper-slide {
  width: 350px;  
  height: 370px; 
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
}
.slider-all > h3{
  font-size: 32px;
  font-weight: 600;
  margin-left: 35px;
  margin-bottom: 20px;
}

@media(max-width: 768px){
  .slider-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

}

