footer {
    height: auto; 
    background-color: #211969;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px; 
    flex-wrap: wrap;
  }
  
  footer .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    margin-right: 40px;
  }
  
  footer .right {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    margin-right: 20px;
  }
  
  footer .right .all {
    margin: 20px 20px; 
  }
  
  footer .list_left {
    display: flex;
    justify-content: center; 
    margin: 10px 0;
  }
  
  footer .list_left img {
    height: 40px;
    width: 40px;
    margin: 0 10px; 
  }
  
  footer .right .all h5 {
    font-size: 18px; 
    font-weight: 600;
    margin-bottom: 10px; 
  }
  
  footer .right .all a {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none; 
  }
  
  @media (max-width: 500px) {
    footer {
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      padding: 20px; 
    }
  
    footer .left {
      margin-bottom: 20px; 
    }
  
    footer .list_left {
      margin-bottom: 20px; 
    }
  
    footer .list_left img {
      height: 30px; 
      width: 30px;
      margin: 0 8px; 
    }
  
    footer .right {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      gap: 10px; 
    }
  
    footer .right .all {
      margin: 5px; 
      text-align: center; 
      width: auto;
    }
  
    footer .right .all h5 {
      font-size: 15px; 
    }
  
    footer .right .all a {
      font-size: 12px; 
    }
  }
  